/*liner*/

textarea {
    background:transparent;
    border:none;
    font-size:23px;
    font-family: 'Oxygen Mono', monospace;
    color:#999;
    display:block;
    height:300px;
    overflow:auto;
    resize:none;
    padding: 0;
    width:calc(100% - 300px);
    padding:none;
    margin-top:20px;
}

body {
    background:#333;
}
#place {
    margin-left:110px;
}
#head {
    color:White;
    margin-top:20px;
    font-size:30px;
    font-family: 'Oxygen Mono', monospace;
    letter-spacing: 2px;
}
h2 {
    border-bottom:2px solid #555;
    outline:none;
    max-width:300px;
    font-weight: 400;
    color:#eee;
    padding:4px 8px;
    font-family: 'Oxygen Mono', monospace;
    transition:all .25s ;
    
}
h2:active, h2:focus {
    color:#333;
    background:#ccc;
    border-radius:3px;
    
    border-color:#ccc;
* {
    font-family: 'Oxygen Mono', monospace;
}