@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sixtyfour+Convergence&display=swap');

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    background: #f1f1f1;
}

.logo {
    height: 2em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.grid {
    display: grid;
    transition: background .2s;
}

#GB {
    margin: 0 auto;
    justify-content: center;
}

#GB-inner {
    width: min-content;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
    border: 4px solid #444;
    box-shadow: 0px 4px 4px #ccc;
}

.gb-selection .grid {
    border: 4px solid #ffffff99;
}

.gb-selection .grid:hover {
    border: 4px solid #444444cc;
    cursor: pointer;
}

.grid.g-type-RAINBOW:not(.g-owned-true) {
    background: linear-gradient(
            45deg,
            #F44336, /* Red */ #FF9800, /* Orange */ #FFEB3B, /* Yellow */ #4CAF50, /* Green */ #2196F3, /* Blue */ #9C27B0 /* Purple */
    );
}

.grid.g-type-DISENFRANCHISED:not(.g-owned-true) {
    border: 4px solid #44444444;
    padding-top: 3px;
}

.grid {
    color: #222222cc;
    padding-top: 7px;
}

.gb-selection .grid {
    padding-top: 3px;
}

.grid.g-type-ACTIVIST.g-owned-true {
    animation: gb-activist .4s;
}

@keyframes gb-activist {
    0% {
        background: inherit;
    }
    30% {
        background: #DDD;
    }
    40% {
        background: #F44336;
    }
    60% {
        background: #DDD;
    }
    80% {
        background: #F44336;
    }
    88% {
        background: white;
    }
    100% {
        background: transparent;
    }
}

.grid.g-owned-true {
    color: white !important;
}

.grid.g-owned- {
    background: #00BCD4 !important;
}

.g-faction-CON {
    background: #add5ff;
}

.g-faction-LIB {
    background: #ffc107;
}

.g-faction-SOC {
    background: #f3594c;
}

.g-faction-GREEN {
    background: #5dc561;
}

.g-faction-CENTR {
    background: #00bcd4;
}

.g-faction-COMM {
    background: #e65385;
}

.g-faction-FASH {
    background: #959595;
}

.g-faction-FAITH {
    background: #7ea1b3;
}

.g-faction-FARM {
    background: #cddc39;
}

.g-faction-NAT {
    background: #ede7f6;
}


.populismActivator-outer {
    border-top: 0px;
    display: inline-block;
    margin: 0 5px;
    border-radius: 10px;
}


.card {
    display: grid;
    grid: repeat(3, 50px) / repeat(3, 120px);
}

.populismActivator-outer {
    display: grid;
    margin: 4px;
}

.x4x4 {
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

/*** HEADSTYLE **/


#header {
    background: #ff5722;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    text-align: left;
    padding: 12px;
    box-shadow: 0px 2px 4px #ccc;
    border-bottom: 1px solid #888;
    color: whitesmoke;
}

#header #title {
    color: #ffffffcc;
    display: inline-block;
    font-family: "Righteous", sans-serif;
    padding: 0px 15px;
    font-size: 36px;
}

#GB {
}

.populismActivator {
    border-radius: 6px;
    padding: 8px 15px;
    background: transparent;
    border: 2px solid #444;
    font-family: "Righteous", sans-serif;
    color: #444;
    font-size: 16px;
    text-shadow: 0px 0px 4px #ccc;
    cursor: pointer;
}

#scoreboard {
    position: fixed;
    font-family: "Righteous", sans-serif;
    right: 40px;
    top: 48px;
    background: white;
    border: 3px solid #444;
    border-radius: 30px;
    box-shadow: 0px 3px 4px #ccc;
    padding: 0 5px;
    color: #444;
}

#scoreboard span {
    padding: 10px;
    display: inline-block;
}

#scoreboard .divider {
    border-right: 3px solid #444;
}

.center {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: max-content;
}

.boxed {
    border: 2px solid red;
}

#bleed {
    margin-top: 150px;
}

.powerup, .btn {
    padding: 5px 10px;
    border-radius: 4px;
    border: 3px solid #444;
    margin: 5px;
    cursor: pointer;
}

.powerup:hover, .btn:hover {
    background: #ccc;
}

.powerupChoice {
    padding: 5px;
    border-radius: 4px;
}
.powerupChoice .powerup {
    width: 100%;
}