#polComp {
    position: relative;

}

#polCompRegions {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height: 450px;
    width: 450px;
    border: 1px solid #666;
}

#polCompRegions > div {
    border: 1px solid #666;
    text-align: center;
    align-self: stretch;
    justify-content: center;
    display: flex;
    opacity: 0.8;
    padding-top: 15px;
}

#polCompRegions div span {
    transform: rotate(-45deg);
    letter-spacing: 2px;
    font-size: 16px;
    opacity: 0.8;
}

:root {
    --q-0-0: #E57373;
    --q-0-1: #c0c0c0;
    --q-0-2: #8d6e63;
    --q-1-0: #f06292;
    --q-1-1: #90CAF9;
    --q-1-2: #4dd0e1;
    --q-2-0: #81c784;
    --q-2-1: #ffd54f;
    --q-2-2: #ffb74d;
    --blop-outline: red;
}

#polCompRegions > div:nth-child(1) {
    background-color: #E57373ee;
}

#polCompRegions > div:nth-child(2) {
    background-color: #c0c0c0ee;
}

#polCompRegions div:nth-child(3) {
    background-color: #8d6e63ee;
}

#polCompRegions div:nth-child(4) {
    background-color: #f06292ee;
}

#polCompRegions div:nth-child(5) {
    background-color: #90CAF9ee;
}

#polCompRegions div:nth-child(6) {
    background-color: #4dd0e1ee;
}

#polCompRegions div:nth-child(7) {
    background-color: #81c784ee;
}

#polCompRegions div:nth-child(8) {
    background-color: #ffd54fee;
}

#polCompRegions div:nth-child(9) {
    background-color: #ffb74dee;
}

.blop {
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 6px;
    border: 3px solid var(--blop-outline);
    padding: 5px;
    font-size: 11px;
    font-weight: lighter;
    background: var(--faction);
    /*animation: blop-anim 20s infinite;*/
    width: 80px;
    outline: 3px double var(--blop-outline);
    /*text-shadow: 0px 0px 2px #ccc;*/
    color: whitesmoke;
    letter-spacing: 0.4px;
}

.blop-you {
    animation: blop-anim 2s infinite;
}

@keyframes blop-anim {
    0% {
        outline: 0px double var(--blop-outline);
        filter: saturate(110%) brightness(95%);
    }
    8% {
        outline: 3px double var(--blop-outline);
    }
    50% {
        filter: saturate(90%) brightness(120%);

    }
    100% {
        outline: 12px double transparent;
        filter: saturate(110%) brightness(95%);

    }
}
