#RTS-NXT HTACCES
RewriteEngine On
RewriteRule ^/?url/(.*)$ /api/ultron/url.php?q=$1 [L,R=301]



# HTID:604843: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:604843:


