     body , html, div#siteView{
            user-select: none;
            background:#333;
        }
        #siteView {
            text-align: center;
        }
        h1 {
             font-family: 'Montserrat', sans-serif;
             text-transform: capitalize;
        }
        article h1 {

            margin: 0 !important;
            padding: 10px 5px;
            text-shadow: 0px 0px 1px #999;
            color: #111;
        }

        .scroll nav h1 {
            position: fixed;
            top: -12px;
            z-index: 99;
            color: white;
            margin-left: 35px;
        }

        .scroll nav h1,
        .scroll #closeicon,
        .scroll #linkBack {
            color: white;
            z-index: 99;
        }

        .scroll nav {
            margin-bottom: 145px;
        }

        .scroll #linkBack {
            background: #3F51B5;

        }
        article h1, article span {
          display: block;
        
          color:white !important;
        }
        article span , article img {
            display: none !important;
        }
        article {
            zoom:1.2 !important;
            margin: 30px;
            display:inline-block;
            padding: 10px;
            box-shadow: 0px 2px 4px #222;
            transition:all .2s;
            cursor: pointer;
            width:80px;

        }

        article:hover {
            box-shadow: 0px 4px 5px #111;
        }
        article:active {
            box-shadow: 0px 2px 7px #000 inset;
        }
        body {
            padding: 0;
            margin: 0;
            font-family: 'Roboto', sans-serif;
            max-width: 800px;
            margin: 0 auto;
            background: linear-gradient(#EEE, white);
            animation: show .3s;
           
        }
        article h1 {
            position: absolute;
            font-size: 14px;
            width: 90px;
            padding:7px;
            font-weight: normal;
            color:#222 !important;
            margin: 71px 0px 0px -10px !important;
            background:rgba(255,255,255,.9) !important;
            height:37px;
            text-align:center;
            border-top:1px solid #444;
            border-radius: 0px 0px 2px 2px;
            
        }
        article h1[ol] /*one liner*/
        {
            padding-top:16px;
            height:35px;
            padding-bottom:0px;
        }
        .newholo {
            border: 0px !important;
            font-size: 20px;
            display:  block;
            margin-top: 3px !important;
            margin-left: 6px !important;
            /* background: red !important; */
            padding: 12px !important;
            width: calc(100% - 37px) !important;
            margin-bottom: 8px !important;
        }
        article {
           width:84px;
            height: 114px;
            border-radius: 0px 0px 2px 2px;
            transition:all .4s;
        }
        article:hover .delta {
            background:transparent !important;

        }
        body.bye {
            animation: bye .45s infinite fill forwards;
        }
        .delta {
            transition:all .2s;
            margin: -9px 0px 0px -10px;
            padding: 5px;
            background: #00796B;
            color: white;
            float: left;
            height: 40px;
           
            width: 94px;
        }

        .delta.material-icons {
            height: 60px;
            padding-top: 20px !important;
            font-size: 40px;
            text-align: center;
            vertical-align: -20px;
            padding-top: 10px;
            padding-bottom: 0px;
        }
        @keyframes show {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes bye {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        @keyframes gs {
            0% {}
            100% {
                background: #666;
            }
        }

        .bye article,
        .bye article div {
            animation: gs .4s infinite forwards;

        }



        article:hover span {
            color: black;
            opacity: 1;
        }

       

        nav {
            top:0;
            right:0;
            background:var(--primary);
            position: fixed;
            text-align: center;
            z-index: 99;
            left:0;
            margin: 0 auto;
            padding: 0px 20px 0px 20px;
            font-family: 'Montserrat', sans-serif;
            color:#222;
            box-shadow: 0px 3px 3px #222;
            max-width: 690px;
        }

        #buts {
            background: #222;
            box-shadow: 0px 2px 7px #888;
            display: inline-block;
        }

        button {
            border: none;
            padding: 20px;
            display: inline-block;
            margin: 0 2px;
            background: transparent;
            cursor: pointer;
        }

        p {
            text-align: justify;
            line-height: 24px;
        }

        #closeicon {
            z-index: 99;
        }

        #closeicon,
        #homeicon {
            padding: 10px;
            margin: 15px 5px;
            position: absolute;
            border-radius: 4px;
            transition: all .2s;
            color:#white;
            position: fixed;
            top: 0;
            left: 0;
            opacity:  0;
        }

        #closeicon:hover,
        #homeicon:hover {
            cursor: pointer;
            background: #1E88E5;
            color: white;
        }

        #linkBack {
            transition: all .4s;
            z-index: 2;
            margin-top: 0px !important;
            border: none;
            border-top: 1px solid #999; */
            margin:;
            display:;
            margin: 0px -20px;
        }

        #linkBack,
        #linkHome {
            /* position: fixed; */
            margin-top: 86px;
            left: 0px;
            right: 0px;
            height: 57px;
            background: var(--primary);
            /* max-width: 690px; */
            /* margin: 0 auto; */
            padding-top: 5px;
            /* border-top: 1px solid #999; */
        }

        #linkHome {
            top: 20px;
            position: absolute;
            background: transparent;
            text-align: left;
            margin-top: 48px;
            display: none;
        }
        #linkClose {
            transition:all .4s;
        }
        #linkBack  span,
        #linkHome  span,
        #linkClose>span {
            opacity: 0;
            vertical-align: 6px;
            padding: 7px;
            margin-left: 5px;
            border-radius: 3px;
            box-shadow: 0px 1px 2px #444;
            background: #444;
            display: inline-block;
            color: white;
            transition: all .2s;
            display: none;
        }

        #linkBack:hover span,
        #linkHome:hover span,
        #linkClose:hover>span{
            opacity: 1;
            margin-left: 0px;
            cursor: pointer;
        }
        #linkClose>span {
               left: 120px;
                position: fixed;
                margin-top: 47px;
        }
        #linkBack span:active {
            box-shadow: none;
        }
        
        input.holo#search, body input.holo#search:hover {
        padding:13px !important;
        background:var(--light-primary) !important;
        border:none !important;
        width: 80%;
        max-width: 700px;
        min-width: 200px;
        display: block;
        margin-top:-19px;
        font-size:20px;
            margin-left: -38px;
        color:black;
            margin:0 auto;
            margin-top:-63px;
                background: white !important;
         box-shadow: 0px 3px 4px #999;
 

    }
    input.holo::placeholder {
        color:#444;
        font-style: italic;
    }
    body input.holo#search:active  , body input.holo#search:focus {
        box-shadow: 0px 0px 4px #222;
        opacity: 1;
    }

        h1 {
            font-size: 32px;
        }


        /*errors*/
        #errorcontainer {
                margin: 50px 50px 100px 50px;
        padding: 20px 40px 40px 40px;
        background: white;
        border: 1px solid #DDD;
        box-shadow: 0px 1px 1px #DDD;

        }
        hr {
            background:#999;
            border:0px;
            height:2px;
        }
        #errorcontainer h1 {
            text-align:center;
        }
        #errorcontainer div {
            text-align: justify;
            font-size: 18px;
            display: none;
        }
        #errorholder {
             display: none;
        }
        #menuSwitch {
            position: absolute;
            left: -120px;
            height: 21px;
            top: 94px;
            width: 36px;
            padding-left: 3px;
        }
        switch[checked="true"] {
            background: #444;
        }
        switch {
            background: #1E88E5;
        }

/**/
nav {
    transition:all .2s linear;
}
body.search nav {
    top:-88px !important;
    transition:all .2s;
}
body.search #linkBack {
    transition: all .4s;
    background:var(--dark-primary);
}
body.search #searchResults {
    max-height:700px;
    padding-bottom: 30px;
    opacity: 1;
    display:block;
   
   
    bottom: 0;
    
    margin-top: -8px;
    top: 68px;
}
#searchResultsList {
    max-height: calc(100% - 155px);
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}
#searchResults {
    max-width: 729px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    z-index: 100;
    position: fixed;
    top:156px;
    left:0;
    right:0;
    background:white;
    max-height:50px;
    opacity:0;
    /* box-shadow: 0px 4px 5px #222; */
    transition: all .2s !important;
}
#searchResults div {
        max-width: 600px;
    margin: 10px auto;
    padding:2px 20px;
    border-radius: 4px;
    color:#111;
    transition: all .2s;
}
#searchResults div:hover,  #searchResults div.on{
    background: var(--dark-primary);
    cursor: pointer;
    color:White;
}
#searchResults div i {
    transition: all .2s;
        vertical-align: -4px;
    margin-right: 10px;
    font-size:20px;
    color:#444;


}
#socMedia span i {
        text-align: center;
    font-size: 30px;
    display: block;
    padding-bottom: 10px;
}
#socMedia span:hover i {
    color:white !important;
}
#searchResults div:hover i, #searchResults div.on i {
    color:white !important;
}
#searchResults b.imp {
    font-family: 'Montserrat';
    text-transform: uppercase;
        max-width: 600px;
    margin: 25px auto 30px auto;
    display: block;
    font-size: 12px;
    color: #444;

}
#socMedia {
    max-width: 600px;
    display: block;
    margin:0 auto;

}
#socMedia>span {
    display: inline-block;
    padding:20px;
    border-radius: 6px;
    transition: .2s;
    border:2px solid white;
}
#socMedia>span:hover {
    background: var(--primary);
    border:2px solid var(--primary);
    color:White !important;
}
#socMedia>span.on {
    border:2px solid var(--primary);
}
#socMedia>span>span {
    display: block;
}

.mont-imp {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    opacity: .8;

}

body.viewSettings #siteView {
    display: none;
}
body.viewSettings #settingsView {
    display: block;
}
body #settingsView {
    display: none;
}
#siteView , nav>h1, #menuSwitch{
  opacity: 0;
  margin-top: 0px;
  animation:show 1s forwards;
}
@keyframes show {
  0% { opacity:0; background:#333;}
  100% { opacity:1;}
}
