     body {
            user-select: none;
        }
        h1 {
             font-family: 'Montserrat', sans-serif;
        }
        article h1 {

            margin: 0 !important;
            padding: 10px 5px;
            text-shadow: 0px 1px 1px #999;
            color: #111;
        }

        .scroll nav h1 {
            position: fixed;
            top: -12px;
            z-index: 99;
            color: white;
            margin-left: 35px;
        }

        .scroll nav h1,
        .scroll #closeicon,
        .scroll #linkBack {
            color: white;
            z-index: 99;
        }

        .scroll nav {
            margin-bottom: 145px;
        }

        .scroll #linkBack {
            background: #3F51B5;

        }
        article h1, article span {
          display: block;
          margin-left:150px !important;
          color:white !important;
        }
        article {
            margin: 50px;
            padding: 20px;
            box-shadow: 0px 2px 4px #AAA;
            transition:all .2s;
            cursor: pointer;

        }

        article:hover {
            box-shadow: 0px 2px 7px #666;
        }
        article:active {
            box-shadow: 0px -2px 7px #444 inset;
        }
        body {
            padding: 0;
            margin: 0;
            font-family: 'Roboto', sans-serif;
            max-width: 800px;
            margin: 0 auto;
            background: linear-gradient(#EEE, white);
            animation: show .3s;
        }

        body.bye {
            animation: bye .45s infinite forwards;
        }
        .delta.material-icons {

          font-size: 67px;
          text-align: center;
          vertical-align: -20px;
          padding-top: 36px;
          padding-bottom: 0px;
        }
        @keyframes show {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes bye {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        @keyframes gs {
            0% {}
            100% {
                background: #666;
            }
        }

        .bye article,
        .bye article div {
            animation: gs .4s infinite forwards;

        }

        article span {
            padding: 0px 10px;
            display: block;
            color: #222;
        }

        article:hover span {
            color: black;
            opacity: 1;
        }

        .delta {
            margin: 5px -25px -25px -20px;
            padding: 20px;
            background: #00796B;
            color: white;
            float: left;
            height: 101px;
            margin-top: -98px;
            width: 96px;
        }

        nav {
            top:0; right:0;
            background:var(--primary);
            position:absolute;
            text-align: center;
            left:0;
            margin: 0 auto;
            padding: 40px 20px 0px 20px;
            font-family: 'Montserrat', sans-serif;
            color:white;
        }

        #buts {
            background: white;
            box-shadow: 0px 2px 7px #888;
            display: inline-block;
        }

        button {
            border: none;
            padding: 20px;
            display: inline-block;
            margin: 0 2px;
            background: transparent;
            cursor: pointer;
        }

        p {
            text-align: justify;
            line-height: 24px;
        }

        #closeicon {
            z-index: 99;
        }

        #closeicon,
        #homeicon {
            padding: 10px;
            margin: 15px 5px;
            border-radius: 4px;
            transition: all .2s;
            color:white;
        }

        #closeicon:hover,
        #homeicon:hover {
            cursor: pointer;
            background: #1E88E5;
            color: white;
        }

        #linkBack {
            transition: all .4s;
            z-index: 2;
        }

        #linkBack,
        #linkHome {
            position: fixed;
            top: 0;
            left: 0px;
            right: 0px;
            height: 73px;
            background: var(--primary);
        }

        #linkHome {
            top: 20px;
            position: absolute;
            background: transparent;
            text-align: left;
            margin-top: 48px;
        }
        #linkClose {
            transition:all .4s;
        }
        #linkBack  span,
        #linkHome  span,
        #linkClose>span {
            opacity: 0;
            vertical-align: 6px;
            padding: 7px;
            margin-left: 5px;
            border-radius: 3px;
            box-shadow: 0px 1px 2px #444;
            background: #444;
            display: inline-block;
            color: white;
            transition: all .2s;
        }

        #linkBack:hover span,
        #linkHome:hover span,
        #linkClose:hover>span{
            opacity: 1;
            margin-left: 0px;
            cursor: pointer;
        }
        #linkClose>span {
               left: 120px;
                position: fixed;
                margin-top: 47px;
        }
        #linkBack span:active {
            box-shadow: none;
        }

        input.holo#search, body input.holo#search:hover {
        padding:13px !important;
        background:var(--light-primary) !important;
        border:none !important;
        width: 80%;
        max-width: 700px;
        min-width: 200px;
        display: block;
        margin-top:-19px;
        font-size:20px;
            margin-left: -38px;
        color:black;
            margin:0 auto;
            margin-top:-63px;
                background: white !important;
    box-shadow: 0px 3px 4px var(--dark-primary);
    opacity: .9;

    }
    input.holo::placeholder {
        color:#444;
        font-style: italic;
    }
    body input.holo#search:active  , body input.holo#search:focus {
        box-shadow: 0px 0px 4px #222;
        opacity: 1;
    }

        h1 {
            font-size: 32px;
        }

        #homeicon {
            color: #fff;
            cursor: pointer;
        }
        /*errors*/
        #errorcontainer {
                margin: 50px 50px 100px 50px;
        padding: 20px 40px 40px 40px;
        background: white;
        border: 1px solid #DDD;
        box-shadow: 0px 1px 1px #DDD;

        }
        hr {
            background:#999;
            border:0px;
            height:2px;
        }
        #errorcontainer h1 {
            text-align:center;
        }
        #errorcontainer div {
            text-align: justify;
            font-size: 18px;
            display: none;
        }
        #errorholder {
             display: none;
        }
        #menuSwitch {
            position: absolute;
            left: 15px;
            height: 21px;
            top:180px;
                width: 36px;
    padding-left: 3px;
        }
        switch[checked="true"] {
            background: #444;
        }
        switch {
            background: #1E88E5;
        }

/**/
body.search #linkBack {
    transition: all .4s;
    background:var(--dark-primary);
}
body.search #searchResults {
    max-height:700px;
    padding-bottom: 30px;
    opacity: 1;
}
#searchResults {
    overflow: hidden;
    z-index: 9;
    position: fixed;
    top:72px;
    left:0; right:0;
    background:white;
    max-height:50px;
    opacity:0;
    box-shadow: 0px 2px 5px #888;
    transition: opacity .4s, max-height .2s;
}
#searchResults div {
        max-width: 600px;
    margin: 10px auto;
    padding:2px 20px;
    border-radius: 4px;
    color:#111;
    transition: all .2s;
}
#searchResults div:hover,  #searchResults div.on{
    background: var(--dark-primary);
    cursor: pointer;
    color:White;
}
#searchResults div i {
    transition: all .2s;
        vertical-align: -4px;
    margin-right: 10px;
    font-size:20px;
    color:#444;


}
#socMedia span i {
        text-align: center;
    font-size: 30px;
    display: block;
    padding-bottom: 10px;
}
#socMedia span:hover i {
    color:white !important;
}
#searchResults div:hover i, #searchResults div.on i {
    color:white !important;
}
#searchResults b.imp {
    font-family: 'Montserrat';
    text-transform: uppercase;
        max-width: 600px;
    margin: 25px auto 30px auto;
    display: block;
    font-size: 12px;
    color: #444;

}
#socMedia {
    max-width: 600px;
    display: block;
    margin:0 auto;

}
#socMedia>span {
    display: inline-block;
    padding:20px;
    border-radius: 6px;
    transition: .2s;
    border:2px solid white;
}
#socMedia>span:hover {
    background: var(--primary);
    border:2px solid var(--primary);
    color:White !important;
}
#socMedia>span.on {
    border:2px solid var(--primary);
}
#socMedia>span>span {
    display: block;
}

.mont-imp {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    opacity: .8;

}

body.viewSettings #siteView {
    display: none;
}
body.viewSettings #settingsView {
    display: block;
}
body #settingsView {
    display: none;
}
