#polCompRegions.polCompLaws .lawLevels {
    position: absolute;
    bottom: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: calc(100% - 12px);
    background: transparent;
    border: none;
    margin: 0 6px;
    left: 0;
}

.lawLevels div {
    height: 6px;
    border-radius: 5px;
    background-color: #eee !important;
    width: calc(100% - 4px);
    margin: 5px 2px;
    border: 1px solid #22222299 !important;
}

.lawLevels div.acquired {
    background: #22222299 !important;
    border: 1px solid #222222ee !important;
    height: 6px;
}

.lawDescription {
    display: block;
    font-family: 'Bahnschrift Condensed';
    font-weight: 300;
    font-size: 14px;
    margin: 8px 10px;
    text-align: center;
}

.lawDescription i {
    color: white;
}

#polCompRegions.polCompLaws b {
    font-family: 'Bahnschrift';
}

#polCompRegions.polCompLaws > div:hover .lawLevels .notacquired {
    background: #fff !important;
    border: 1px solid #222 !important;

}

.polCompLaws div:has(.locked) {
    background: #aaaaaaee !important;
    cursor: not-allowed !important;
}

#polCompRegions.polCompLaws {
    width: 720px;
    transition: all .2s;
}

#polCompRegions.polCompLaws > div {
    margin: 5px;
    border-radius: 3px;
    position: relative;
    opacity: 0.95;
    cursor: pointer;
}

#polCompRegions.polCompLaws > div:hover {
    opacity: 1;
    border-color: #222 !important;
    outline: 2px solid #666;
}

#polCompRegions.polCompLaws > div > span {
    transform: rotate(0deg);
}

/***/

.shopCardSelection {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.shopCardSelection > div {
    display: inline-block;
}