@import "tailwindcss";

#root {
    max-width: 840px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

#emojictr {
    font-size: 80px;
    text-align: center;
    margin: 43px 0 40px 0;
}

.bs {
    font-family: "Bahnschrift" !important;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 72px !important;
    margin: 1em;
}

.largeText {
    font-size: 2em;
}

.gameCard {
    text-align: center;
    background: white;
    padding: 1.5em !important;
}

body, .radix-themes {
    background: whitesmoke !important;
    font-family: 'Bahnschrift' !important;
}

* {
    font-family: 'Bahnschrift semicondensed' !important;
}

.trophies {
    font-size: 32px !important;
}

.radix-themes {

}

h1 span {
    font-family: 'Bahnschrift condensed' !important;
    font-weight: lighter;
    color: #123167;
}

.large {
    font-size: 32px;
}

.emojism {
    border-radius: 4px;
}

.emojism:hover {
    cursor: pointer;
    background: #ccc;
    position: relative;
    font-size: 36px;
    padding: 0;
}

.flr-emoji {
    position: absolute;
    right: 46px;
    font-size: 48px;
}

#progress {
    position: absolute;
    left: calc(50% - 100px);
    z-index: 0;
}

#progress circle {
    transition: all .2s ease-out;
}

.rarity {
}

.rarity.rarity-common {

    --bcolor: #4caf50;
}

.rarity.rarity-uncommon {

    --bcolor: #2196f3;
}

.rarity.rarity-rare {
    --tint: #f3e5f5;
    --bcolor: #9c27b0;
}

.rarity.rarity-legendary {
    --tint: #ffcc80;
    --bcolor: #ff9800;
}

.emojictr {
    margin: 2px;
    border: 1px solid var(--bcolor);
    background: var(--tint);
    border-radius: 4px;
    padding: 8px;
    vertical-align: center;
    text-align: center;
    border-bottom: 5px solid var(--bcolor);
}

.extend-hr {
    height: 1px;
    background: rgb(221 223 229);
    border: none;
    margin-left: -2em;
    margin-right: -2em;
}