:root {
    --primary:#673AB7;
    --dark-primary:#673AB7;
}
holder[central] {
    margin-left: 110px;
}
holder {
    display: block;
    /* margin: 10px; */
    /* padding:10px; */
    height: 135px;
}
holder>card , holder>div{
    margin:10px;
    /* vertical-align: -32px; */
    display:inline-block;
    text-align:center;
    font-size: 132px;
    font-weight: 500;
    transition:.1s;
    height: 140px;
}
holder>*:hover {
    cursor: pointer;
}
holder>div {

    font-size:18px;
}
holder.ai-cards card {
    color:rgb(117, 38, 38);
    opacity:.8;
}
holder.placed-center div {
  text-shadow:0px 0px 3px #999;
  color:#673AB7;
}
holder.move card {
  color:#F84;

}
holder card.placed {
 color:#ddd;
 text-shadow:0px 0px 2px #ddd;
}
[user] card {
  color: #222;
}
div[splash] {
    color:#48F;
    font-size:128px;
}
div[splash]:hover {
    text-shadow:0px 1px 2px #222;
}
body {
    user-select:none;
}
#cardUp {
    margin-top:100px;
    height: 449px;
    width:745px;
    animation:slideCardUp .4s;
    animation-delay: .2s;
}
#pageTitle {
    margin-left:0;
    text-align: center;
}
@keyframes slideCardUp {

    0% { opacity: 0; margin-top: 140px; }
    100%{opacity: 1; margin-top:100px; }
}
#touch {
  display: none;/*TEMP*/
  position:fixed;
  top:350px;
  left:20px;
  color:black;
  z-index: 100;
}
