#musicEQLogo {
	opacity:0; transition:all .2s;
	position:absolute;
	padding-left:10px;
}
.musicPlaying #musicEQLogo {
	opacity: 1;
}

#currSeek {
  display: block;
    margin-top: 8px;
    margin-left: -25px;
    width: calc( 100% + 50px );
}
#currPlayedMusic {
  font-size:24px;
  height:30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#musicMainControls {
  text-align: center;
}
#musicMainControls i {
  margin:10px;
}
#musicWrapper input[type="range"] {
  vertical-align: 10px;
  margin-left:20px;
}
.leftMargin  {
  margin-left:20px;
}
.leftMargin2x {
  margin-left:40px;
}
#currPlayListFull {
    margin-left: 630px;
      width: 500px;
      max-height: 600px;
      min-height:200px;
      overflow-y: scroll;
      padding: 0;
      top: 71px;
      position: fixed;
}

.card.card-2x1 {
  margin-left:50px;
  max-width:500px;
}
.card.card-2x2 {

}
#currPlayedTime {
  text-align: center;
color: #444;
padding: 11px;
}
#getfiles {
opacity: 0;z-index: -1;
}
