/* NXT full page design */ 
/* required:
 * jsplux.js
 * design.js
 * elements-design.css
*/

/* UI DESIGN */

header {
    background: #3F51B5;
    background: #3F51B5;
    width: 100%;
    height: 450px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 75px;
    transition: left .4s, color .7s;
}

nav header {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    font-size: 30px;
    height: 80px;
    z-index: 99;
    animation: scrollIn .2s;
}

header span {
    display: block;
    padding-top: 179px;
}

nav {
    font-family: 'Montserrat', sans-serif;
    background: #283593;
    height: 50px;
    padding-top: 30px;
    display: block;
    color: #FEFEFE;
    z-index: 9;
    letter-spacing: 1px;
    opacity: 1;
}

nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav header div {
    padding-top: 20px;
}

holder > container.on,
holder > div.on {
    animation-delay: .3s;
    animation: slideUpCard .4s;
}

holder {
    transition: opacity .15s, left .4s;
}

/* UI ELEMENTS */


container.sidebar {
    position: fixed;
    width: 299px;
    bottom: 0;
    top: 30px;
    left: 0;
    margin-left: 1px;
    overflow-y: scroll;
    background: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: none !important;
   z-index: 10;
}


.omenu {
    font-size: 18px;
    padding: 9px 20px;
    transition: border 0.2s, background 0.2s, opacity .4s, height .4s, padding .3s, color .2s;
    min-height: 23px;
    overflow: hidden;
    overflow-y: ;
}

.omenu:hover {
    background: #283593;
    cursor: pointer;
    color: #fff;
}

.otitle {
    margin-top: 20px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    color: white;
    transition: all .2s;
}

.otitle div {
    padding: 6px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px #999;
    background: #3F51B5;
}

.o-expanded .omenu {
    display: none;
}

.o-expanded .otitle {
    margin: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    padding: 0;
    cursor: pointer;
    font-size: 25px;
}

.o-expanded .otitle div {
    border-radius: 0px;
    box-shadow: none;
    padding: 30px 5px;
}

#tfill,
.card {
    opacity: 1;
    margin: 50px auto;
    padding: 10px 25px 25px 25px;
    max-width: 800px;
    box-shadow: 0 1px 3px #999;
    background: white;
    border-radius: 0px 0px 2px 2px;
}

.sidebar .omenu::before {
    content: '';
    height: 8px;
    width: 8px;

    position: absolute;
    margin-top: 7px;
    margin-left: 240px;
    border-radius: 6px;
    transition: all .2s;
}

.sidebar .omenu.on::before {
    background: #666;
}

.sidebar .omenu.on:hover::before {
    background: white;
}



#pageTitle {
    display: block;
    font-size: 30px;
    margin-left: 350px;
    margin-top: -10px;
    text-transform: uppercase;
    transition: .2s;
}

/*material icons*/

@keyframes slideUp {
    0% {
        opacity: 0;
        margin-top: 30px;
    }
    100% {
        opacity: 1;
        margin-top: 3px;
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUpCard {
    0% {
        opacity: 0.2;
        margin-top: 150px;
    }
    100% {
        opacity: 1;
        margin-top: 120px;
    }
}



.websiteThemeBlue nav,
.websiteThemeBlue .toolbar,
.websiteThemeBlue .omenu:hover,
.websiteThemeBlue switch[checked="true"],
.blue-antigene {
    background: #1E88E5;

}

.websiteThemeBlue header {
    background: #42A5F5;
}

#NineDotMenu {
    position: fixed;
    color: white;
    top: 9px;
    z-index: 99;
    font-size: 36px;
    right: 10px;

}

#NineDotMenu.on::after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 99;
    height: 100%;
    background: linear-gradient(#EEE, white);
    animation: NineDotMenuUp .6s;
}

#NineDotMenu.on::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 97;
    height: 100%;
    opacity: 0;
    background: #444;
    border-radius: 0px !important;
    animation: NineDotMenuBlack .6s;
}

@keyframes NineDotMenuUp {
    0% {
        top: 100%;
    }
    100% {
        top: 0%;
        box-shadow: 0px -5px 20px #444;
    }
}

@keyframes NineDotMenuBlack {
    0% {
        background: #999;
        opacity: 0;
    }
    100% {
        background: #444;
        opacity: .8;
    }
}

body.full-covered-active nav {
   height:300px;
   
   z-index: -1;
}
body.full-covered-active holder > div.on {
       border-radius: 6px 6px 0px 0px;
       box-shadow: 0 1px 3px #444;
}

