*[block] { display: block; }
*[in-block] { display: inline-block; }
*[float] , *[flr] { float:right;}
/*REGURAL INPUT*/

/* NXT input type design */
/* required, auto loading:
 * elements-design.css
*/


/*----------------------------------------------------------------------------*/
/*text inputs*/
input:not([type="range"]):not([type="file"]):not([type="checkbox"]) {
	padding:5px;
	margin:0px 5px;
	border:1px solid #A1A1A1;
	background:#F1F1F1;
	border-radius: 3px;
	width:100px;
	 outline: none;
	transition:all .2s;
}
input:not([type="range"]):not([type="file"]):not([type="checkbox"]):hover , input.active {
	background:#FFF;
	box-shadow: 0px 1px 1px #DDD;
	width:140px;
}
input.non-expand, input.short:not(.non-expand):hover {
	width:100px !important;
}
input.short {
	width:60px !important;
}

input:not([type="range"]):not([type="file"]):active , input.active {
	border:1px solid #48F;
}

/*----------------------------------------------------------------------------*/
/*status AKA progressbar*/
status {
  height:9px;
  margin:5px 0px;
  /*border:1px solid red;*/
  display: inline-block;
  background:#DDD;
  transition:all .2s;
}
status:hover{
  height:19px;
  margin:0px;
}
status:hover * {
  height:19px;
}
status::before {
  content:attr(value) ;
  position:absolute;
  opacity: 0;
  z-index: -1;
  margin-top:0px;
  transition:all .2s;
  height:25px;
  font-size:16px;
  font-family: monospace;
  color:white;
  margin-left:10px;
}
status:hover::before {
  opacity: 1;
  z-index: 1;
}
status * {
  display:block;
  height:9px;
  background:var(--primary);
  border-right:9px solid var(--dark-primary);
  transition:height .2s, width .9s linear ;
}

/*----------------------------------------------------------------------------*/
/*CSS RANGE*/
input[type=range] {
    -webkit-appearance: none;

    width: 150px;

}
input[type=checkbox][nxt] {
display:none;
}
label[nxt] {
	transition:.4s;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height:3px;
    background:#FFA726;
    border-radius: 1px;
    transition:background .2s;
    cursor: pointer;
}
input[type=range]:active {
  cursor:e-resize !important;
}
input[type=range]::-webkit-slider-runnable-track:hover {
  background: #AAA;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 13px;
    width: 13px;
    background:var(--dark-primary);
    margin-top:-5px;
    border-radius: 50%;
    transition:all .2s;
}
input[type=range]::-webkit-slider-thumb:hover {
  height: 19px;
  width: 19px;
  margin-top:-8px;
}
input[type=range]:focus::-webkit-slider-thumb {
  height: 19px;
  width: 19px;
  margin-top:-8px;
}

input[type=range]:focus {
    outline: none;
    padding:15px,
}

.fill-card {
  margin:0px -25px;
  display: block;
  width:calc( 100% + 18px );
}

textarea ,.textarea {
  outline:none;
  padding:15px;
  border:1px solid #DDD;
      font-family: 'Open Sans', sans-serif;
}

/*----------------------------------------------------------------------------*/
/*0 - 1 checkbox*/ /*multiselect radio*/
checkbox .material-icons ,radio .material-icons {
	font-size: 22px;
	vertical-align: -5px;
}
checkbox ,radio{
 padding:7px 10px 7px 0px;
 margin:3px;
 border-radius: 3px;
 border:1px solid transparent;
 user-select: none;
 transition:all .2s;
 cursor: pointer;
}
checkbox:hover ,radio:hover{
border:1px solid #888;
}
checkbox[disabled] .material-icons, radio[disabled] .material-icons {
	color:#999;
}
checkbox[disabled]  {
 border:1px solid #DDD;
 color:#999;
 cursor: not-allowed;
}
radio[checked="true"] {
    border:1px solid #AAA;
}
radio[checked="true"] .material-icons  {
    color:var(--primary);
}
/*----------------------------------------------------------------------------*/
/*A - B checkbox*/
switch {
	margin:10px 5px;
	display: inline-block;
	border:5px solid #DDD;
	border-left:22px solid #DDD;
	border-radius: 4px;
  background:#666;
	font-family: 'Montserrat', sans-serif;
	color:white;
	padding:10px 15px;
	transition:all .2s;
	text-align: center;
	cursor: pointer;
	user-select:none;
	font-size:14px;
}
switch[checked="true"] {
	border:5px solid #DDD;
	border-right:22px solid #DDD;
	background:var(--dark-primary);

}
switch span {
	display: block;
}
switch span:last-child {
	margin-top:-17px;
}
switch[checked="false"] span:first-child , switch[checked="true"] span:last-child {
	opacity:0;
}


/*----------------------------------------------------------------------------*/
/*BUTTONS*/
button[real] {
    border-radius: 3px;
    box-shadow: 0px 2px 5px #999;
    background: var(--dark-primary);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 16px;
    border: none;
    transition:all .2s;
    outline:none;

}
button:hover, button:focus {
     box-shadow: 0px 2px 7px #666;
     background: var(--primary);
    cursor: pointer;
}
button:active {
    box-shadow: 0px 2px 5px #333 inset;
}

/*SCROLLBARS*/



.sidebar::-webkit-scrollbar {
    width:10px;
border-top: 4px solid white;
}

.sidebar::-webkit-scrollbar-track {
  cursor:col-resize;


}
.sidebar::-webkit-scrollbar-track-piece:start {
    background:#fff;
}
.sidebar::-webkit-scrollbar-thumb {

   background:#999;
	 padding: 10px 0px;
	 border-radius: 10px;
}
.sidebar::-webkit-scrollbar {
	border:none !important;
}


body::-webkit-scrollbar {
    width: .9em;
   border:1px solid #BBB;
}
 *::-webkit-scrollbar {
    width: 10px;
   border:1px solid #BBB;
}
*::-webkit-scrollbar-track {
  cursor:col-resize;

}
*::-webkit-scrollbar-track-piece:start {
    background:#BBB;
}
*::-webkit-scrollbar-thumb {
  outline: 1px solid slategrey;
   background:#666;

}
*::-webkit-scrollbar-thumb:active {

   background:#48F;
}


/*----------------------------------------------------------------------------*/
/*RATING CHOICE JS REQ*/
selector {
   transition:all .1s;
   color:white;
   box-shadow: 0px 1px 2px #666;
   display: inline-block;
}

selector span {
   padding:12px 15px;
   text-align: center;
   display: inline-block;
   color:#222;
    transition:all .1s linear;
   min-width: 20px;
   cursor:pointer;
}
selector span:hover {
   background:#DDD;
}
selector span.on:hover {
   background: var(--primary);
}
selector span.on {
   margin: -8px -5px;
   padding: 20px;
   background: var(--dark-primary);
   box-shadow: 0px 3px 2px #999;
}
