hrs.transon hr {
    transition:.2s linear;
}
hr {
    position: fixed;
    bottom: 0; top:0; right:0; left:0;
    background:transparent;
    border:none;
    margin:0px;
    height:100%;
    z-index: -1;
}
    #pivPoint , .nodev #pivPoint{
width:10px;
height:10px;
border-radius:100%;
        background:#999;
        text-align:Center;
        display:inline-block;
        position: absolute;
        left:calc(50% - 7px);
        right:0;
        margin-top: -22px;
        border:1px solid #666;
        cursor: help;
        transition:all .2s;

}
pivot , body.nodev pivot{
   display: block;
    position:fixed;
    bottom:-55px;
    left:0;
    right:0;
    height:55px;
    transition:all .2s;
    border-top:20px solid transparent;
}
body.nodev pivot:hover , body pivot{
    bottom:0px;
}
pivot:hover #pivPoint,  , body pivot #pivotPoint {

    margin-top: 0px;
}
footer {
    height:55px;
    padding-top:15px;
    border-top:1px solid #999;
    padding-left:20px;
    color:#222;
    background:white;
}
body {
    display: block;
    height:100%;
    position:fixed;
    top:0;
    bottom:0;
}
