.indigo-500 {
    color:White !important;
}
.outputtext {
    line-height: 23px;
}

hr {
    border: none;
    height: 3px;
    background:
}

#aboluter {
    transition: all .3s;
    opacity: 0;
    z-index: -1;
    margin-top: 10px;
}

#aboluter.on {
    opacity: 1;
    z-index: 100;
    margin-top: 0px;
}


#blacker {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(100, 100, 100, 0.5);
    z-index: 94;
    transition: background 1s;
}

#blacker.mute {
    z-index: -5;
    background: rgba(221, 221, 221, 0);
}

select {
  width:170px !important;
}
input , select{
    padding: 5px;
    margin: 0px 5px;
    border: 1px solid #A1A1A1;
    background: #F1F1F1;
    border-radius: 3px;
    width: 120px;
    outline: none;
    transition: all .2s;
}

input:hover , select:hover, select:active{
    background: #FFF;
    box-shadow: 0px 1px 1px #DDD;
    width: 120px;
}

input:active {}

.l {
    margin: 5px 6px;
    color: #222;
    transition: .2s all;
    text-decoration: underline;
    padding: 1px 3px;
    border-radius: 3px;
}

.l:hover {
    background: #DDD;
    box-shadow: 0px 0px 3px #444 inset;

    cursor: default;
    color: black;
}


#tfill button,
#tfill2 button {

    border-radius: 3px;
    box-shadow: 0px 1px 2px #666;
    background: #3D5AFE;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 12px 16px;
    border: none;
}

#infopanel,
#histh {
    display: none;
}
.moreInfoOn #infopanel,
.moreInfoOn #histh {
    display: block;
}
@media (min-width:1600px) {
    #tco,
    .sidebar {
        width: 349px;
    }
    #infopanel,
    #histh,
    nav header {
        width: 350px !important;
    }
    #tmain {
        right: 350px;
        left: 350px;
    }

}

@media (max-width:1300px) {
    #tfill,
    .card,
    #tfill2 {
        width: 80%;
    }
}
/* FULLSCREEN TO BE PORTED TO NXT*/

body.fullscreen container.sidebar {
  left:-300px;
}
body.fullscreen holder {
  max-width: 999px !important;
  position:fixed;
  top: 41px;
  bottom: 30px;
  left: 10;
  overflow: scroll;
  right: 10;
  transition:all .2s;
}
body.fullscreen #graphDrawer {
  left:0px;
  transition:all .2s;
}
body.fullscreen nav header {
  box-shadow:none;
  background: #ececec4d;
  color: white;
  border-bottom: 0;
}
