body.module-sidebar [module="sidebar"] {
  display:block;
  position:absolute;
  right:30px;
  top:80px;
  height:350px;
  width:250px;
  padding:5px 15px;
}

[module] {
  border:1px solid #999;
  border-radius:12px;
  background: white;
}

body {
    background:#f1f1f1;
}
  #canv , #canvBg{

    position:absolute;
  }
  #canvOverlay {
    border:1px solid #999;
    position:absolute;

  }
  #canvBg {
      z-index:-1;
       background:white;

  }
  canvas {
      margin-left:30px;
      border-radius:12px;

        cursor:crosshair;
  }
  * {
      user-select:none;
  }
  holder {
      margin:10px 10px 10px 30px;
      display:block;
  }

  .elem>span {
    width:60px;
    display: inline-block;
    font-weight: bold;
  }
  .elem {
    border-bottom:1px solid #aaa;
    display: block;
    margin: 0 -15px;
    padding: 9px 10px 9px 20px;
  }
  .elem input {
    border:0px;
    padding: 10px;
    margin: -9px 0px -9px 10px;
    color: #222;
  }
  .elem input[disabled] {
    background:white;
    font-style: italic;
    color:#444;
  }
