body.module-sidebar [module="sidebar"], body.module-sidebar [module="action"] {
  display:block;
  position:absolute;



}
body.module-sidebar [module="sidebar"].on.open {
  right:30px;
  top: 80px;
  height: 50px;
  width:250px;
  padding: 5px 13px;
  transition:box-shadow .4s,height .4s;
  overflow-x:hidden;
  overflow-y:hidden;
}
body.module-sidebar [module="action"] {
  top:calc(100% - 90px);
  left:calc(50% - 300px);
  border-radius:0px;
  border:0px;
}
body.module-sidebar [module="sidebar"].on , body.search-mode #distance {
  height: 390px !important;
  opacity:1;
  z-index: 10;
}
#distance {
  opacity:0;
  z-index: -1;
}
[module]:hover {
    box-shadow:0px 1px 3px #999;
}

[module] {
  border:1px solid #999;
  border-radius: 7px;
  background: #eee;
}

body {
    background: #f1f1f1;
}
  #canv , #canvBg{

    position:absolute;
  }
  #canvOverlay {

    position:absolute;

  }
  #canvBg {
      z-index:-1;
       background:white;

  }
  canvas {


        cursor:crosshair;
  }
  body.move-mode canvas {
    cursor:move;
  }
  * {
      user-select:none;
  }
  holder {
    box-shadow:0px 2px 3px #aaa;
    /* margin: 0px 0px 20px 0px; */
    padding: 12px 10px;
    display: block;
    background: #222;
    margin-top:0px !important;
  }
  holder h1 {
    display:inline-block;
    margin:0px;
    padding-left:30px;
    color:#ddd;
  }

  .elem>span {
    width: 75px;
    display: inline-block;
    font-weight: bold;
  }
  .elem {
    border-bottom:1px solid #aaa;
    display: block;
    margin: 0 -15px;
    padding: 9px 10px 9px 20px;
  }
  #properties .elem:last-child {
    border-bottom:none;
  }
  .elem input {
    border:0px;
    padding: 10px;
    margin: -9px 0px -9px 10px;
    color: #222;
    border-bottom-width: 1px !important;
  }
  .elem input[disabled] {


    color:#444;
    border:1px solid transparent !important;
    background:transparent  !important;
  }


div#line.on.open {
  opacity:1;
  height: 188px !important;
}
div#line {
top:490px;
opacity:0;
min-height:0px !important;
overflow:hidden;
display:block;
/* position:absolute; */
}
button[flat][real] {
  padding-right:16px;
}
button[flat][real]:hover {
  color:white;
  background:#2196f3;
}
#actionDrag {
  color:#222;margin:0px; padding:0px 3px;vertical-align: -6px;
}
#action button {
   padding: 15px 19px 15px 11px !important;
}


/*ADDED*/

#action button:nth-child(2)::before {
margin-left: -67px;
}
#action button:nth-child(3)::before {
margin-left: -121px;
}
#action button:nth-child(4)::before {
margin-left: -175.5px;
}
#action button::before  {
  content:attr(data-text);
  background:#3f51b5;
  position:absolute;
  transition:.2s;
  max-height:0;
  margin-left: -12px;
  border-radius: 4px 4px 0px 0px;
  width: 252px;
  opacity:0;
  z-index: -2;
  margin-top: -32px;
}
#action button:hover::before {
  opacity:1;
    margin-top: -52px;
  max-height:100px;
  padding: 10px 0px;
    z-index: 10;
}
#action button:hover::after {
  background: #3f51b5;
  width: 6px;
  height: 6px;
  border-left: 2px solid #2196f3;
  border-bottom: 2px solid #2196f3;
  border-radius:1px;
  content:'';
  position:absolute;
  margin-top: -32px;
  box-shadow:0px 0px 0px;
  transform: rotate(-45deg);
}
body {
  overflow: hidden;
}
#docFooter {
  position:fixed;
  left:0px;
  right:0px;
  bottom: 0px;
  height:30px;
  background:#ccc;
  border-top:1px solid #666;
}
#shortcutHelp {
 position:absolute;
 right:10px;
 margin-top:3px;
 font-family:'Montserrat',sans-serif;
}
#textLP {
  width:55px !important;
  border:1px solid #999 !important;
}
:root {
    --dark-primary: #444 !important;
    --primary :red !important;
}
group {
  vertical-align: 5px;
}
[dragger] , [closer] {
display:inline-block;margin-top:-59px;margin-left:220px;color:#222;
cursor:-webkit-grabbing !important;
padding-bottom:0px;
}
[closer] {
  margin-left:180px;
  cursor:pointer !important;
}
button {}

  #footerBarHolder>*.open{
    position: fixed;
    top: 80px;
  }

  #footerBarHolder>[module="sidebar"]:not(.open) .material-icons , #footerBarHolder>* {
    display: none;
  }
  /*
  #footerBarHolder>[module="sidebar"]:not(.open).on {
    background: white;
    position: fixed;
    padding: 6px 15px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
    border-right: 1px solid #999;
  }
  #footerBarHolder>[module="sidebar"]:not(.open).on h2 {
    margin:0px !important;
    font-size:14px;
    font-weight: 400;
    border-radius: 0px;
  }
  #sidebarProp {
     display:none;
  }
*/
