/* SIDEBAR MODULE */
body.module-sidebar [module="sidebar"]:not(.on), body.module-sidebar [module="sidebar"]:not(.on) *  {
    display:none;
    z-index: -1;
  }
  body.module-sidebar [module="sidebar"] {
    resize:both;
    min-width:100px;
    min-height:100px;
  }
  body.module-sidebar [module="sidebar"].on, body.module-sidebar [module="action"] {
    display:block;
    position:absolute;
  }
  body.module-sidebar [module="sidebar"].on.open {
    right:30px;
    top: 80px;
    height: 50px;
    width:250px;
    padding: 5px 13px;
    transition:box-shadow .4s;
    overflow-x:hidden;
    overflow-y:hidden;
  }
  body.module-sidebar [module="action"] {
    top:calc(100% - 90px);
    left:calc(50% - 300px);
    border-radius:0px;
    border:0px;
  }
  body.module-sidebar [module="sidebar"].on , body.search-mode #distance {
    height: 390px ;
    opacity:1;
    z-index: 10;
  }
  #distance {
    opacity:0;
    z-index: -1;
  }
  [module]:hover {
      box-shadow:0px 1px 3px #999;
  }
  
  [module] {
    border:1px solid #999;
    border-radius: 7px;
    background: #eee;
  }
  