:root {
    --primary:#EC407A;
    --dark-primary:#E91E63;
    --light-primary:#F48FB1;
}

nav header {
    width:300px;
    box-shadow: 0px 0px 0px black;
}
 #multiplix.on #userCurrText, #multiplix.on #userNames{
  animation:showWin .8s;
}
#multiplix.on #snippets {
 animation: slideIn .4s;
}
#multiplix.on #snippets div#snippetHeader , #multiplix.on #userSpace #userTitle  { /*just to be better looking, front animation*/
 animation:transitionColor .8s;
}
@keyframes transitionColor {
  0% { background:#FF9800;}
  40% { background:#FF9800;}
  100% { background:#F57C00;}
}
@keyframes showWin {
  0% { opacity:.1;}
  100% { opacity: 1;}
}
@keyframes slideIn {
  0% { right:-30%;}
  100% { right: 0%;}
}
#userNames {position:fixed;left:0px;width:300px;z-index: 99;background:white;top:60px;bottom:0;border-right:1px solid #AAA;}
#userNamesHolder {
  max-height: calc( 100% - 72px);
  overflow-x: hidden;
  width: 100%;
  overflow-y: auto;
}
#userNamesHolder div {
   padding:24px 24px 24px 24px;
   margin:3px 17px 3px 17px;
   max-width: 220px;
    border-radius: 4px;
   cursor: pointer;
   transition:margin .2s, padding .2s;
}

#userNamesHolder div:hover {
background:#F1F1F1;

padding:20px 20px 20px 20px;
margin:7px 21px 7px 21px !important;
}

#userNamesHolder div.on,#userNamesHolder div:active {
 background:#DDD;
}
#userNamesHolder div:last-child {
  animation:slideUp .5s;
}

#userNames button {
  float:right;
margin:15px;

}
#snippets {right: 0%;opacity:1;position:fixed;width:30%;top: 75px;bottom: 15px;border-left:3px solid var(--dark-primary);z-index: 99;}
#snippets textinput, #userCurrText textinput  {
display: block;
margin:30px;
width:calc( 100% - 80px );
background:#DDD;
border:2px solid #AAA;
border-radius:2px;
padding:10px;
font-family:'Open Sans', sans-serif;
outline: none;
transition:all .2s;
}
#userCurrText textinput {
  padding:20px;
  background:#F1f1f1;
  margin:20px auto;
}
#snippets textinput:focus {
border-color:#EC407A !important;
}
#userCurrText textinput:focus {
  border-color:#48F;
}
#snippets div#snippetHeader {

 height: 95px;
    margin-top: -25px;
}
.menuItem {
max-width: 200px;
margin: 0 auto;
padding-top:35px;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
text-align:center;
font-size:13px;
zoom:.9;
}
.menuItem>span {
 padding:7px 11px;
 background:#F57C00;
 cursor: pointer;
 transition:all .2s;
}
.menuItem>span.on {
background:#FFA726;
color:#444;
}
.menuItem>span:hover {
background:#FFA726;
color:#222;
}
.menuItem>span:first-child {
border:2px solid #EC407A;
border-right:none;
border-radius: 4px 0px 0px 4px;
}

.menuItem>span:last-child {
border:2px solid #FFA726;
border-radius: 0px 4px 4px 0px;
margin-left:-4px;
}
.menuItem switch {
        position: fixed;
    top: -2px;
    right: 290px;
}

#userSpace {
  position: fixed;
  left:300px;
  right:30%;
  top:0;
  z-index: 99;

}
#userSpace #userTitle {
  color:white;
  height:72px;

  margin-top:-4px;
}
#userTitle>span {
  display: inline-block;
padding: 19px;
font-size: 20px;
}
#userTitle>span>span {
  border-bottom:1px solid white;
  outline:none;
}
#userCurrText {
  padding:40px 60px 80px 60px;
  height:600px;
  margin-top: -82px;
}
#snippetTextareaHolder {
  min-height:50px;

}
